@charset "UTF-8";
/* CSS Document */

/* ===================================================================
machidaのreset.css
=================================================================== */
html {
	font-size: 12px;
	background-image:url(../images/main_aside.gif);
	letter-spacing: 0.1ex;
	line-height: 1;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Meiryo','メイリオ','ＭＳ Ｐゴシック','ＭＳ ゴシック',Osaka,Osaka-等幅,sans-serif;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a:link {
	color: #7e96ff;
}
a:visited {
	color: #7e96ff;
}
a:hover {
	color: #ff5297;
}
a:active {
	color: #ff5252;
}

.button a
 {
	background-repeat: no-repeat;
	display: block;
	font-weight: bold;
}

.button a:link,
.button a:visited
 {
	background-position: left top;
}
.button a:hover,
.button a:active
 {
	background-position: left bottom;
}
a { overflow: hidden }

/* ===================================================================
machidaのclearfix
=================================================================== */
.clearfix:after,
div:after,
ul:after,
dl:after,
form:after,
blockquote:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

.clearfix,
div,
ul,
dl,
form,
blockquote {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
}


.image_link:link,
.image_link:visited {
	background-position:left top
	}
.image_link:hover,
.image_link:active {
	background-position:left bottom
	}
 


/* ===================================================================
site-design
=================================================================== */
#header .header {
	height:125px;
	background-image: url(../images/header.gif);
	padding-top: 15px;
}
#header .header .title {
	width: 400px;
	float: left;
}

#header .header .sub-title {
	display: block;
	text-align: right;
	font-size: 16px;
	line-height: 24px;
	padding-right: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ丸ゴ Pro W4", HiraMaruPro-W4, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
}

#header .header .title a {
	height:60px;
	background-image: url(../images/logo.png);
	text-indent: -9999px;
	display: block;
}
#header .header .nav {
	width: 560px;
	float: right;
}
#header .header .nav li {
	display: inline;
}
#header .header .nav ul {
	padding-left: 15px;
	padding-top: 5px;
}
#header .header .nav li a {
	display: block;
	line-height: 45px;
	font-weight: bold;
	color: #FFF6E5;
	text-align: center;
	height: 45px;
	width: 135px;
	background-image: url(../images/header-nav-a.gif);
	float: left;
	font-size: 13px;
	text-decoration: none;
	text-shadow:#000 1px 1px 1px
}
#header .header .nav .description {
	background-image: url(../images/header-description.gif);
	height: 60px;
	text-indent: -9999px;
}
#header .body {
	background-image:url(../images/eye-catch.gif);
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
}
.index #header .body {
	height: 280px;
}
#header .body h1 {
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
	color: #FFF6E5;
	text-shadow: #182a0e 1px 1px 0px;
	font-family: 'PT Sans Caption', serif;
	font-style: normal;
	font-weight: 700;
	display: block;
	float: left;
	padding-right: 20px;
  }
#header .body p.description {
	line-height: 25px;
	color: #FFF6E5;
	text-shadow: #182a0e 1px 1px 0px;
	display: block;
	float: left;
	height: 25px;
	padding-top: 15px;
	font-size: 13px;
  }

.index #header .body .cattle-mutilation {
	width:320px;
	height:275px;
	background-image:url(../images/cattle-mutilation.png);
	float: left;
	text-indent: -9999px;
}
.index #header .body .summary {
	width:626px;
	height:262px;
	background-image:url(../images/header-summary.png);
	float: right;
	margin-top: 12px;
	color: #FFF6E5;
}
.index #header .body .summary h1 {
	background-image:url(../images/index_summary_title.png);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 40px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	float: none;
}
.index #header .body .summary p {
	font-size: 16px;
	line-height: 1.6;
	padding-left: 35px;
	background-image: url(../images/index_summary_p.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: block;
	padding-right: 80px;
	margin-right: 35px;
	height: 180px;
	padding-top: 8px;
	font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3",HiraKakuPro-W3,Osaka,sans-serif;
	text-shadow:#000 1px 1px 1px;
}
.index #header .body .summary span.button {
	display: block;
	padding-left: 330px;
}
.index #header .body .summary span.button a {
	font-size: 12px;
	background-image: url(../images/header-summary_button.png);
	height: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, sans-serif;
	margin-top: 10px;
	line-height: 30px;
	text-decoration: none;
	width: 108px;
	padding-left: 37px;
}
.index #header .body .summary span.button a:link,
.index #header .body .summary span.button a:visited
 {
	text-shadow:#033 1px 1px 1px;
	color: #FFF6E5;
}
.index #header .body .summary span.button a:hover,
.index #header .body .summary span.button a:active
 {
	text-shadow:#f4f62f 0px 0px 3px;
	color: #F4F62E;
}


#header .footer {
	height:33px;
	background-image: url(../images/bread-crumbs.gif);
	padding-top: 7px;
}
#header .footer .inner {
	background-image: url(../images/header-footer-inner.gif);
	height: 26px;
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	line-height: 26px;
	padding-right: 20px;
	padding-left: 20px;
	color: #FFF6E5;
	text-shadow:#000 1px 1px 1px;
}

#container {
	background-image:url(../images/container.gif);
	background-repeat: repeat-x;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height:500px;
}

.inner {
	margin-left:auto;
	width: 970px;
	margin-right: auto;
}

#main {
	width: 590px;
	float: left;
}

.works #main {
	width: 970px;
	float: none;
}


#main .section {
	margin-bottom: 30px;
}
#main .section .header {
	width: 590px;
	background-image: url(../images/section-header.gif);
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
#main .section .header_page {
	background-image: url(../images/section-header_page.gif);
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}

#main .section .header .pubdate {
	width: 86px;
	float: left;
	height: 70px;
	display: block;
	padding-left: 10px;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
#main .section .header .pubdate span {
	display: block;
	line-height: 1;
	text-shadow:#fff -1px -1px 1px;
}
#main .section .header .pubdate span.mounth {
	line-height: 13px;
	font-size: 13px;
}
#main .section .header .pubdate span.day {
	line-height: 30px;
	font-size: 24px;
}
#main .section .header .pubdate span.year {
	line-height: 13px;
	font-size: 13px;
}
#main .section .header .title {
	width: 465px;
	float: right;
	display: block;
	font-size: 26px;
	line-height: 1.3;
	padding-right: 10px;
	padding-top: 15px;
	color: #1eff00;
	font-weight: bold;
	text-shadow:#000 1px 1px 1px
}
#main .section .header_page {
	background-image: url(../images/section-header_page.gif);
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}
#main .section .header_page .title {
	display: block;
	font-size: 26px;
	line-height: 1.3;
	color: #1eff00;
	font-weight: bold;
	text-shadow:#000 1px 1px 1px;
}
#main .section .header_page .title a
 {
	color: #1eff00;
	text-decoration: none;
}
#main .section .header .title a:link,
#main .section .header .title a:visited
 {
	color: #1eff00;
	text-decoration: none;
}
#main .section .header .title a:hover,
#main .section .header .title a:active
 {
	color: #ff5297;
}

#main .section .header_page .author {
	padding-top: 5px;
	padding-bottom: 10px;
	height:20px;
	color: #FFF6E5;
	display: block;
	text-align: right;
}
#main .section .header_page .author dt:after {
	height:20px;
	content:"\0020\003a";
}
#main .section .header_page .author dt,
#main .section .header_page .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
}
#main .section .header_page .author img {
	height: 12px;
	width: 12px;
}






#main .section .body {
	background-image: url(../images/section-body.gif);
	clear: both;
	color: #FFF6E5;
	font-size: 14px;
}
#main .section .body .author {
	background-image: url(../images/section-body-author.gif);
	padding-top: 15px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 15px;
	height:20px;
}
#main .section .body .author dt:after {
	height:20px;
	content:"\0020\003a";
}
#main .section .body .author dt,
#main .section .body .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
}
#main .section .body .author img {
	height: 12px;
	width: 12px;
}
#main .section .body .content {
	background-image: url(../images/section-body-content.gif);
	padding-top: 10px;
	padding-right: 35px;
	padding-left: 35px;
	background-position: left top;
}

#main .section .body .content blockquote:before {
	content:"\0022";
	font-size: 96px;
	font-weight: bold;
	line-height: 20px;
	display: block;
	margin-top: 15px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: right;
	font-family:"Times New Roman";
	font-style:italic;
	padding-right: 10px;
	padding-left: 10px;
	color: #353129;
	margin-bottom: -30px;
	}
#main .section .body .content blockquote {
	line-height: 1.7;
	margin-bottom: 1.8em;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	background-color: #2C2820;
	color:#fff;
	box-shadow: inset 2px 2px 2px #1e1d19;
	-webkit-box-shadow: inset 2px 2px 2px #1e1d19;
	-moz-box-shadow: inset 2px 2px 2px #1e1d19;
	}
#main .section .body .content blockquote .original {
	line-height: 1.7;
	margin-bottom: 1.8em;
	display: block;
	font-size: 12px;
	text-align: right;
	}
#main .section .body .content .attention {
	font-size:10px;
	font-weight: bold;
	color: #0C6;
	}
#main .section .body .content p.image {
	text-align: center;
	display: block;
}
#main .section .body .content p.image img {
	margin-bottom: 1em;
}
#main .section .body .content p.image .description {
	text-align: center;
	display: block;
	padding-bottom: 10px;
	line-height: 1.4;
	font-size: 12px;
}
#main .section .body .content .amazon {
	text-align: center;
	display: block;
	background-color: #2C2820;
	margin-right: 80px;
	margin-left: 80px;
	padding-top: 10px;
	padding-bottom: 15px;
	box-shadow: inset 2px 2px 2px #1e1d19;
	-webkit-box-shadow: inset 2px 2px 2px #1e1d19;
	-moz-box-shadow: inset 2px 2px 2px #1e1d19;
	margin-top: 4em;
	background-image: url(../images/amazon.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
#aside .amazon li {
	text-align: center;
	display: block;
	background-color: #2C2820;
	padding-top: 10px;
	padding-bottom: 15px;
	box-shadow: inset 2px 2px 2px #1e1d19;
	-webkit-box-shadow: inset 2px 2px 2px #1e1d19;
	-moz-box-shadow: inset 2px 2px 2px #1e1d19;
	margin-top: 15px;
	background-image: url(../images/amazon.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
#main .section .body .content .buttons {
	background-color: #2B2822;
	margin-top: -15px;
	margin-bottom: 15px;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #18150e;
	border-right-color: #393631;
	border-bottom-color: #393631;
	border-left-color: #18150e;
}
#main .section .body .content .buttons li.hatena {
	margin-left: -10px;
}
#main .section .body .content .buttons li {
	display:inline
}
#main .section .body .content p {
	line-height: 1.7;
	margin-bottom: 1.7em;
}

#main .section .body .content .summary {
	background-color: #2C2820;
	margin-bottom: 1.8em;
	border: 4px double #666;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#main .section .body .content .summary ul {
	margin-bottom: 0.6em;
}
#main .section .body .content .summary h4:before {
	content:none;
	margin-right:0em;
}
#main .section .body .content .summary h4 {
	line-height: 1.4;
	margin-bottom: 0.8em;
	font-size: 18px;
	background-image: url(../images/section_under_border.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	padding-bottom: 3px;
}
#main .section .body .content dt:before {
	content:"\0025a0";
	margin-right:0.2em;
}
#main .section .body .content dt {
	line-height: 1.4;
	margin-bottom: 1em;
	font-size: 16px;
	display: block;
	text-shadow: 1px 1px 1px #2C2820;
}
#main .section .body .content dd {
	line-height: 1.7;
	margin-bottom: 1.7em;
}
#main .section .body .content .delete {
	text-decoration: line-through;
}
#main .section .body .content pre {
	line-height: 1.5;
	margin-bottom: 1.7em;
	font-size: 13px;
	display: block;
	color: #0C3;
	background-color: #000;
	overflow: auto;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
#main .section .body .content img {
	max-width:500px;
	max-height:500px;
	width: expression(
      (document.documentElement.clientWidth > 502)? "500px" :
            "auto"
   );
 }
#main .section .body .content li img {
	max-width:480px;
}
#main .section .body .content blockquote img {
	max-width:460px;
}
#main .section .body .content ul,
#main .section .body .content ol {
	line-height: 1.7;
	margin-bottom: 1.4em;
	padding-left: 2em;
	list-style-position: outside;
}
#main .section .body .content ul {
	list-style-type: disc;
}
.works #main .section .body .content ul {
	list-style-type: none;
	padding-left: 0em;
}
#main .section .body .content ol {
	list-style-type: decimal;
}
#main .section .body .content li {
	line-height: 1.4;
	margin-bottom: 1em;
}
#main .section .body .content h3 {
	line-height: 1.4;
	margin-bottom: 0.8em;
	font-size: 20px;
	background-image: url(../images/section_under_border.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	padding-bottom: 3px;
	padding-top: 10px;
}
#main .section .body .content h4:before {
	content:"\0025a0";
	margin-right:0.2em;
}
#main .section .body .content h4 {
	line-height: 1.4;
	margin-bottom: 1em;
	font-size: 16px;
	display: block;
	text-shadow: 1px 1px 1px #2C2820;
}
#main .section .body .content .point {
	background-color:#4d493e;
	border: 1px dotted #2C2820;
	margin-bottom: 1.8em;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 0px;
	padding-left: 14px;
	}
#main .section .body .content .point p {
	font-size: 13px;
	line-height: 1.6;
	}
#main .section .body .content .point h3 {
	background-color:#4d493e;
	background-image: url(../images/point_title.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 85px;
	font-size: 12px;
	padding-left: 50px;
	text-align: center;
	padding-bottom: 25px;
	line-height: 30px;
	padding-right: 15px;
	float: left;
	margin-bottom: 0px;
	padding-top: 0px;
	}
#main .section .body .content .point h3.long {
	background-color:#4d493e;
	background-image: url(../images/point_title_long.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 245px;
	font-size: 12px;
	padding-left: 50px;
	text-align: center;
	padding-bottom: 25px;
	line-height: 30px;
	padding-right: 15px;
	float: left;
	margin-bottom: 0px;
	padding-top: 5px;
	margin-right: 10px;
	}
#main .section .body .content .work h3 {
	background-image: none;
	}

#main .section .body .content .tags {
	background-image: url(../images/body-tags.jpg);
	padding-top: 55px;
	height: 30px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 35px;
	font-size: 12px;
	clear: both;
}
#main .section .body .content .tags li {
	line-height: 30px;
	display: inline;
	margin-right: 10px;
}
#main .section .footer {
	background-image: url(../images/section-footer.gif);
	color: #E9D2A3;
	font-size: 14px;
	background-position: left bottom;
	padding-right: 35px;
	padding-bottom: 30px;
	padding-left: 35px;
}

#main .section .gist {
	margin-bottom: 2em;
}

#aside {
	width:350px;
	float:right;
}

#aside .section {
	margin-bottom: 30px;
}
#aside .twitter {
	margin-top: -5px;
	margin-bottom: 30px;
}

#aside h2 {
	font-size:16px;
	font-weight: bold;
	display: block;
	color:#9F7932;
	background-image: url(../images/aside_h2.gif);
	height: 38px;
	padding-bottom: 20px;
	line-height: 38px;
	padding-left: 15px;
	color: #FFF6E5;
	text-shadow:#966 1px 1px 1px;
	padding-top: 2px;
}
#aside h3 span.hashtag {
	font-size:12px;
	font-weight: bold;
	margin-left: 8px;
}
#aside div.works ul {
	margin-top: 8px;
}
#aside div.works li {
	display: block;
	margin-bottom: 8px;
}
#aside div.works li a {
	display: block;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#aside div.works li a:link,
#aside div.works li a:visited {
    border: 5px solid #FFF6E5;
	}
#aside div.works li a:hover,
#aside div.works li a:active {
    border: 5px solid #B49247;
	}
#aside .ad {
	margin-bottom: 20px;
}
#aside .ad h2 {
	font-size:12px;
	font-weight: bold;
	display: block;
	color:#9F7932;
	background-image: url(../images/aside_ad_h2.gif);
	height: 31px;
	padding-bottom: 2px;
	line-height: 31px;
	padding-left: 0px;
	color: #fff;
	text-shadow:#000 1px 1px 1px;
	text-align: center;
}



#aside div.banners ul {
	margin-top: 8px;
}
#aside div.banners li {
	display: block;
	margin-bottom: 8px;
}
#aside div.banners li a {
	display: block;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#aside div.banners li a:link,
#aside div.banners li a:visited {
    border: 5px solid #FFF6E5;
	}
#aside div.banners li a:hover,
#aside div.banners li a:active {
    border: 5px solid #B49247;
	}



#twtr-widget-1 h3 {
	font-size:16px;
	font-weight: bold;
	display: block;
	color:#9F7932;
	background-image: url(../images/aside_h2.gif) !important;
	height: 38px !important;
	padding-bottom: 20px !important;
	line-height: 38px !important;
	padding-left: 15px !important;
	color: #FFF6E5 !important;
	text-shadow:#966 1px 1px 1px;
	padding-top: 2px !important;
}


.twtr-doc,#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a,  #twtr-widget-1 h4, #twtr-widget-1 .twtr-popular,.twtr-widget .twtr-tweet,#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p,#twtr-widget-1 .twtr-new-results,#twtr-widget-1 .twtr-results-inner,#twtr-widget-1 .twtr-timeline {
	background-image:url(../images/main_aside.gif) !important;
}
.twtr-widget .twtr-tweet-wrap {
padding:6px 0px !important;
}
.twtr-hd {
padding:10px 0px !important;
}
#twtr-widget-1 h4 {
	display:none !important;
}
#twtr-widget-1 h3 {
	font-size:16px !important;
	font-weight: bold !important;
	display: block;
	color: #FFF6E5 !important;
}
.twtr-img {
	height:30px !important;
	width:30px !important;
	background-color: #FFF !important;
	padding: 3px !important;
}
#twtr-widget-1 .twtr-tweet-text {
margin-left:45px !important;
}

#footer {
	clear:both;
	background-color: #1E1B16;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url(../images/footer.gif);
	background-repeat: repeat-x;
	background-position: left top;
	color: #1eff00;
	}
#footer a {
	font-weight: bold;
	text-decoration: none;
	}
#footer a:link,
#footer a:visited {
	color: #1eff00;
	}
#footer a:hover,
#footer a:active {
	color: #ff5252;
	}
#footer .poweredby {
	color:#666;
	text-align: right;
	display: block;
	text-shadow:#000 1px 1px 1px;
}
#footer .poweredby a {
	color:#666}



.bread_crumbs li {
	display:inline;
	}
.bread_crumbs li a {
	display:inline;
	text-decoration: none;
	}
.bread_crumbs li a:after {
	content: "\0020\0020\00bb\0020\0020";
	}
#aside .new_entries.section li {
	display: block;
	background-image: url(../images/line.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
}
#aside .new_entries.section li a {
	display: block;
	text-decoration: none;
	text-shadow:#f2e2c3 1px 1px 0px;
}
#aside .new_entries.section li a:link,
#aside .new_entries.section li a:visited
 {
	color:#49320b;
}
#aside .new_entries.section .title {
	display: block;
	float: left;
	width: 300px;
	font-size: 13px;
	line-height: 1.4;
	font-weight: bold;
}
#aside .new_entries.section a:link .title,
#aside .new_entries.section a:visited .title {
	color:#49320b;
	text-shadow:#f2e2c3 1px 1px 0px;
}
#aside .new_entries.section a:hover .title,
#aside .new_entries.section a:active .title {
	color:#F36;
	text-shadow:none;
}
#aside .new_entries.section a .date {
	color:#49320b;
	text-shadow:#f2e2c3 1px 1px 0px;
}
#aside .new_entries.section .auther {
	display: block;
	float: right;
	width: 50px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0em;
}
#aside .new_entries.section .auther img {
	width: 35px;
	height: 35px;
}
#aside .new_entries.section .date {
	display: block;
	font-size: 12px;
	padding-top:5px;
	font-weight: normal;
}



#disqus_thread {
	padding-top: 20px;
}




.works #main {
	width: 970px;
	float: none;
}
.works #main .section .header_page {
	background-image: none;
	padding-bottom: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.works #main .section .header_page .title {
	display: block;
	font-size: 26px;
	line-height: 1.3;
	color: #1eff00;
	font-weight: bold;
	text-shadow:#000 1px 1px 1px;
	float: left;
	width: 600px;
}
.works #main .section .header_page .title a
 {
	color: #302D24;
	text-decoration: none;
	text-shadow:#f6e4bf -1px -1px 1px;
}
.works #main .section .header .title a:link,
.works #main .section .header .title a:visited
 {
	color: #1eff00;
	text-decoration: none;
}
.works #main .section .header .title a:hover,
.works #main .section .header .title a:active
 {
	color: #ff5297;
}

.works #main .section .header_page .author {
	padding-top: 5px;
	padding-bottom: 10px;
	height:20px;
	color: #302D24;
	display: block;
	text-align: left;
	float: right;
}
.works #main .section .header_page .author dt:after {
	height:20px;
	content:"\0020\003a";
}
.works #main .section .header_page .author dt,
.works #main .section .header_page .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
}
.works #main .section .header_page .author img {
	height: 12px;
	width: 12px;
}

.works #main .section .body {
	background-image: none;
	clear: both;
	color: #302D24;
	font-size: 14px;
}
.works #main .section .body .author {
	background-image: none;
	height:20px;
	padding: 0px;
	clear: both;
}
.works #main .section .body .author dt:after {
	height:20px;
	content:"\0020\003a";
}
.works #main .section .body .author dt,
.works #main .section .body .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
	text-shadow:none;	
}
.works #main .section .body .author img {
	height: 12px;
	width: 12px;
}
.works #main .section .body .content {
	background-image: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	background-position: left top;
	margin-right: -10px;
	margin-left: -10px;
}
.works #main .section .footer {
	background-image: none;
	color: #E9D2A3;
	font-size: 14px;
	background-position: left bottom;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
}
.works #main .work {
	width:310px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	}
.works #main li.work {
	width:310px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	display: block;
	}
.works #main .section .body .content h3 {
	margin-bottom:5px;
}
.works #main .section .body .content h3 a:link img,
.works #main .section .body .content h3 a:visited img {
	border: 5px solid #FFF6E5;
}
.works #main .section .body .content h3 a:hover img,
.works #main .section .body .content h3 a:active img {
	border: 5px solid #b49247;
}
.works #main .section .body .content p.name {
	display: block;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 16px;
}
.works #main .section .body .content p.name span.created {
	font-size: 12px;
	margin-left: 1em;
}
.works #main .section .body .content p.name a {
	text-decoration: none;
}
.works #main .section .body .content p.name a:link,
.works #main .section .body .content p.name a:visited {
	color: #302D24;
}
.works #main .section .body .content p.name a:hover,
.works #main .section .body .content p.name a:active {
	color: #ff5297;
}
.works #main .section .body .content dl.author {
	font-size: 12px;
}
.works #main .section .body .content dl.author dt,
.works #main .section .body .content dl.author dd {
	display: inline;
}
