@charset "UTF-8";
/* CSS Document */

/* ===================================================================
machidaのreset.css
=================================================================== */
html {
	font-size: 12px;
	background-image:url(../images/main_aside.gif);
	letter-spacing: 0.1ex;
	line-height: 1;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Meiryo','メイリオ','ＭＳ Ｐゴシック','ＭＳ ゴシック',Osaka,Osaka-等幅,sans-serif;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a:link {
	color: #7e96ff;
}
a:visited {
	color: #7e96ff;
}
a:hover {
	color: #ff5297;
}
a:active {
	color: #ff5252;
}

.button a
 {
	background-repeat: no-repeat;
	display: block;
	font-weight: bold;
}

.button a:link,
.button a:visited
 {
	background-position: left top;
}
.button a:hover,
.button a:active
 {
	background-position: left bottom;
}
a { overflow: hidden }

/* ===================================================================
machidaのclearfix
=================================================================== */
.clearfix:after,
div:after,
ul:after,
dl:after,
form:after,
blockquote:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

.clearfix,
div,
ul,
dl,
form,
blockquote {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
}


.image_link:link,
.image_link:visited {
	background-position:left top
	}
.image_link:hover,
.image_link:active {
	background-position:left bottom
	}
 


/* ===================================================================
site-design
=================================================================== */
#header .header {
	height:125px;
	background-image: url(../images/header.gif);
	padding-top: 15px;
}
#header .header .title {
	width: 400px;
	float: left;
}

#header .header .sub-title {
	display: block;
	text-align: right;
	font-size: 16px;
	line-height: 24px;
	padding-right: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ丸ゴ Pro W4", HiraMaruPro-W4, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
}

#header .header .title a {
	height:60px;
	background-image: url(../images/logo.png);
	text-indent: -9999px;
	display: block;
}
#header .header .nav {
	width: 560px;
	float: right;
}
#header .header .nav li {
	display: inline;
}
#header .header .nav ul {
	padding-left: 15px;
	padding-top: 5px;
}
#header .header .nav li a {
	display: block;
	line-height: 45px;
	font-weight: bold;
	color: #FFF6E5;
	text-align: center;
	height: 45px;
	width: 135px;
	background-image: url(../images/header-nav-a.gif);
	float: left;
	font-size: 13px;
	text-decoration: none;
	text-shadow:#000 1px 1px 0px
}
#header .header .nav .description {
	background-image: url(../images/header-description.gif);
	height: 60px;
	text-indent: -9999px;
}
#header .body {
	background-image:url(../images/eye-catch.gif);
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
}
.index #header .body {
	height: 280px;
}
#header .body h1 {
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
	color: #FFF6E5;
	text-shadow: #182a0e 1px 1px 0px;
	font-family: 'PT Sans Caption', serif;
	font-style: normal;
	font-weight: 700;
	display: block;
	float: left;
	padding-right: 20px;
  }
#header .body p.description {
	line-height: 25px;
	color: #FFF6E5;
	text-shadow: #182a0e 1px 1px 0px;
	display: block;
	float: left;
	height: 25px;
	padding-top: 15px;
	font-size: 13px;
  }

.index #header .body .cattle-mutilation {
	width:320px;
	height:275px;
	background-image:url(../images/cattle-mutilation.png);
	float: left;
	text-indent: -9999px;
}
.index #header .body .summary {
	width:626px;
	height:262px;
	background-image:url(../images/header-summary.png);
	float: right;
	margin-top: 12px;
	color: #FFF6E5;
}
.index #header .body .summary h1 {
	background-image:url(../images/index_summary_title.png);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 40px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	float: none;
}
.index #header .body .summary p {
	font-size: 16px;
	line-height: 1.6;
	padding-left: 35px;
	background-image: url(../images/index_summary_p.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: block;
	padding-right: 80px;
	margin-right: 35px;
	height: 180px;
	padding-top: 8px;
	font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3",HiraKakuPro-W3,Osaka,sans-serif;
	text-shadow:#000 1px 1px 0px;
}
.index #header .body .summary span.button {
	display: block;
	padding-left: 330px;
}
.index #header .body .summary span.button a {
	font-size: 12px;
	background-image: url(../images/header-summary_button.png);
	height: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, sans-serif;
	margin-top: 10px;
	line-height: 30px;
	text-decoration: none;
	width: 108px;
	padding-left: 37px;
}
.index #header .body .summary span.button a:link,
.index #header .body .summary span.button a:visited
 {
	text-shadow:#033 1px 1px 0px;
	color: #FFF6E5;
}
.index #header .body .summary span.button a:hover,
.index #header .body .summary span.button a:active
 {
	text-shadow:#f4f62f 0px 0px 3px;
	color: #F4F62E;
}


#header .footer {
	height:33px;
	background-image: url(../images/bread-crumbs.gif);
	padding-top: 7px;
}
#header .footer .inner {
	background-image: url(../images/header-footer-inner.gif);
	height: 26px;
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	line-height: 26px;
	padding-right: 20px;
	padding-left: 20px;
	color: #FFF6E5;
	text-shadow:#000 1px 1px 0px;
}

#container {
	background-image:url(../images/container.gif);
	background-repeat: repeat-x;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height:500px;
}

.inner {
	margin-left:auto;
	width: 970px;
	margin-right: auto;
}

#main {
	width: 590px;
	float: left;
}

.works #main {
	width: 970px;
	float: none;
}


#main .section {
	margin-bottom: 30px;
}
#main .section .header {
	width: 590px;
	background-image: url(../images/section-header.gif);
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
#main .section .header_page {
	background-image: url(../images/section-header_page.gif);
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}

#main .section .header .pubdate {
	width: 86px;
	float: left;
	height: 70px;
	display: block;
	padding-left: 10px;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
#main .section .header .pubdate span {
	display: block;
	line-height: 1;
	text-shadow:#fff 1px 1px 0px;
}
#main .section .header .pubdate span.mounth {
	line-height: 13px;
	font-size: 13px;
}
#main .section .header .pubdate span.day {
	line-height: 30px;
	font-size: 24px;
}
#main .section .header .pubdate span.year {
	line-height: 13px;
	font-size: 13px;
}
#main .section .header .title {
	width: 465px;
	float: right;
	display: block;
	font-size: 26px;
	line-height: 1.3;
	padding-right: 10px;
	padding-top: 15px;
	color: #1eff00;
	font-weight: bold;
	text-shadow:#000 1px 1px 0px;
}
#main .section .header_page {
	background-image: url(../images/section-header_page.gif);
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}
#main .section .header_page .title {
	display: block;
	font-size: 26px;
	line-height: 1.3;
	color: #1eff00;
	font-weight: bold;
	text-shadow:#000 1px 1px 0px;
}
#main .section .header_page .title a
 {
	color: #1eff00;
	text-decoration: none;
}
#main .section .header .title a:link,
#main .section .header .title a:visited
 {
	color: #1eff00;
	text-decoration: none;
}
#main .section .header .title a:hover,
#main .section .header .title a:active
 {
	color: #ff5297;
}

#main .section .header_page .author {
	padding-top: 5px;
	padding-bottom: 10px;
	height:20px;
	color: #FFF6E5;
	display: block;
	text-align: right;
}
#main .section .header_page .author dt:after {
	height:20px;
	content:"\0020\003a";
}
#main .section .header_page .author dt,
#main .section .header_page .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
}
#main .section .header_page .author img {
	height: 12px;
	width: 12px;
}






#main .section .body {
	background-image: url(../images/section-body.gif);
	clear: both;
	color: #FFF6E5;
	font-size: 14px;
}
#main .section .body .author {
	background-image: url(../images/section-body-author.gif);
	padding-top: 15px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 15px;
	height:20px;
}
#main .section .body .author dt:after {
	height:20px;
	content:"\0020\003a";
}
#main .section .body .author dt,
#main .section .body .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
}
#main .section .body .author img {
	height: 12px;
	width: 12px;
}
#main .section .body .content {
	background-image: url(../images/section-body-content.gif);
	padding-top: 10px;
	padding-right: 35px;
	padding-left: 35px;
	background-position: left top;
}

#main .section .body .content blockquote:before {
	content:"\0022";
	font-size: 96px;
	font-weight: bold;
	line-height: 20px;
	display: block;
	margin-top: 15px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: right;
	font-family:"Times New Roman";
	font-style:italic;
	padding-right: 10px;
	padding-left: 10px;
	color: #353129;
	margin-bottom: -30px;
	}
#main .section .body .content blockquote {
	line-height: 1.7;
	margin-bottom: 1.8em;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	background-color: #2C2820;
	color:#fff;
	box-shadow: inset 2px 2px 2px #1e1d19;
	-webkit-box-shadow: inset 2px 2px 2px #1e1d19;
	-moz-box-shadow: inset 2px 2px 2px #1e1d19;
	}
#main .section .body .content blockquote .original {
	line-height: 1.7;
	margin-bottom: 1.8em;
	display: block;
	font-size: 12px;
	text-align: right;
	}
#main .section .body .content .attention {
	font-size:10px;
	font-weight: bold;
	color: #0C6;
	}
#main .section .body .content .image {
	text-align: center;
	display: block;
}
#main .section .body .content p.image img {
	margin-bottom: 1em;
}
#main .section .body .content p.image .description {
	text-align: center;
	display: block;
	padding-bottom: 10px;
	line-height: 1.4;
	font-size: 12px;
}
#main .section .body .content .amazon {
	text-align: center;
	display: block;
	background-color: #2C2820;
	margin-right: 80px;
	margin-left: 80px;
	padding-top: 10px;
	padding-bottom: 15px;
	box-shadow: inset 2px 2px 2px #1e1d19;
	-webkit-box-shadow: inset 2px 2px 2px #1e1d19;
	-moz-box-shadow: inset 2px 2px 2px #1e1d19;
	margin-top: 4em;
	background-image: url(../images/amazon.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
#aside .amazon li {
	text-align: center;
	display: block;
	background-color: #2C2820;
	padding-top: 10px;
	padding-bottom: 15px;
	box-shadow: inset 2px 2px 2px #1e1d19;
	-webkit-box-shadow: inset 2px 2px 2px #1e1d19;
	-moz-box-shadow: inset 2px 2px 2px #1e1d19;
	margin-top: 15px;
	background-image: url(../images/amazon.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
#main .section .body .content .buttons {
	background-color: #2B2822;
	margin-top: -15px;
	margin-bottom: 15px;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #18150e;
	border-right-color: #393631;
	border-bottom-color: #393631;
	border-left-color: #18150e;
}
#main .section .body .content .buttons li.hatena {
	margin-left: -10px;
}
#main .section .body .content .buttons li {
	display:inline
}
#main .section .body .content p {
	line-height: 1.7;
	margin-bottom: 1.7em;
}

#main .section .body .content .summary {
	background-color: #2C2820;
	margin-bottom: 1.8em;
	border: 4px double #666;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#main .section .body .content .summary ul {
	margin-bottom: 0.6em;
}
#main .section .body .content .summary h4:before {
	content:none;
	margin-right:0em;
}
#main .section .body .content .summary h4 {
	line-height: 1.4;
	margin-bottom: 0.8em;
	font-size: 18px;
	background-image: url(../images/section_under_border.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	padding-bottom: 3px;
}
#main .section .body .content dt:before {
	content:"\0025a0";
	margin-right:0.2em;
}
#main .section .body .content dt {
	line-height: 1.4;
	margin-bottom: 1em;
	font-size: 16px;
	display: block;
	text-shadow: 1px 1px 0px #2C2820;
	font-weight: bold;
}
#main .section .body .content dd {
	line-height: 1.7;
	margin-bottom: 1.7em;
}
#main .section .body .content .delete {
	text-decoration: line-through;
}
#main .section .body .content pre {
	line-height: 1.5;
	margin-bottom: 1.7em;
	font-size: 13px;
	display: block;
	color: #0C3;
	background-color: #000;
	overflow: auto;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
#main .section .body .content img {
	max-width:500px;
	max-height:500px;
	width: expression(
      (document.documentElement.clientWidth > 502)? "500px" :
            "auto"
   );
 }
#main .section .body .content li img {
	max-width:480px;
}
#main .section .body .content blockquote img {
	max-width:460px;
}
#main .section .body .content ul,
#main .section .body .content ol {
	line-height: 1.7;
	margin-bottom: 1.4em;
	padding-left: 2em;
	list-style-position: outside;
}
#main .section .body .content ul {
	list-style-type: disc;
}
.works #main .section .body .content ul {
	list-style-type: none;
	padding-left: 0em;
}
#main .section .body .content ol {
	list-style-type: decimal;
}
#main .section .body .content li {
	line-height: 1.4;
	margin-bottom: 1em;
}
#main .section .body .content h3 {
	line-height: 1.4;
	margin-bottom: 0.8em;
	font-size: 20px;
	background-image: url(../images/section_under_border.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	padding-bottom: 3px;
	padding-top: 10px;
}
#main .section .body .content h4:before {
	content:"\0025a0";
	margin-right:0.2em;
}
#main .section .body .content h4 {
	line-height: 1.4;
	margin-bottom: 1em;
	font-size: 16px;
	display: block;
	text-shadow: 1px 1px 0px #2C2820;
	font-weight: bold;
}
#main .section .body .content .point {
	background-color:#4d493e;
	border: 1px dotted #2C2820;
	margin-bottom: 1.8em;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 0px;
	padding-left: 14px;
	}
#main .section .body .content .point p {
	font-size: 13px;
	line-height: 1.6;
	}
#main .section .body .content .point h3 {
	background-color:#4d493e;
	background-image: url(../images/point_title.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 85px;
	font-size: 12px;
	padding-left: 50px;
	text-align: center;
	padding-bottom: 25px;
	line-height: 30px;
	padding-right: 15px;
	float: left;
	margin-bottom: 0px;
	padding-top: 0px;
	}
#main .section .body .content .point h3.long {
	background-color:#4d493e;
	background-image: url(../images/point_title_long.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 245px;
	font-size: 12px;
	padding-left: 50px;
	text-align: center;
	padding-bottom: 25px;
	line-height: 30px;
	padding-right: 15px;
	float: left;
	margin-bottom: 0px;
	padding-top: 5px;
	margin-right: 10px;
	}
#main .section .body .content .work h3 {
	background-image: none;
	}

#main .section .body .content .tags {
	background-image: url(../images/body-tags.jpg);
	padding-top: 55px;
	height: 30px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 35px;
	font-size: 12px;
	clear: both;
}
#main .section .body .content .tags li {
	line-height: 30px;
	display: inline;
	margin-right: 10px;
}
#main .section .footer {
	background-image: url(../images/section-footer.gif);
	color: #E9D2A3;
	font-size: 14px;
	background-position: left bottom;
	padding-right: 35px;
	padding-bottom: 30px;
	padding-left: 35px;
}

#main .section .gist {
	margin-bottom: 2em;
}

#aside {
	width:350px;
	float:right;
}

#aside .section {
	margin-bottom: 30px;
}
#aside .twitter {
	margin-top: -5px;
	margin-bottom: 30px;
}

#aside h2 {
	font-size:16px;
	font-weight: bold;
	display: block;
	color:#9F7932;
	background-image: url(../images/aside_h2.gif);
	height: 38px;
	padding-bottom: 20px;
	line-height: 38px;
	padding-left: 15px;
	color: #FFF6E5;
	text-shadow:#966 1px 1px 0px;
	padding-top: 2px;
}
#aside h3 span.hashtag {
	font-size:12px;
	font-weight: bold;
	margin-left: 8px;
}
#aside div.works ul {
	margin-top: 8px;
}
#aside div.works li {
	display: block;
	margin-bottom: 8px;
}
#aside div.works li a {
	display: block;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#aside div.works li a:link,
#aside div.works li a:visited {
    border: 5px solid #FFF6E5;
	}
#aside div.works li a:hover,
#aside div.works li a:active {
    border: 5px solid #B49247;
	}
#aside .ad {
	margin-bottom: 20px;
}
#aside .ad h2 {
	font-size:12px;
	font-weight: bold;
	display: block;
	color:#9F7932;
	background-image: url(../images/aside_ad_h2.gif);
	height: 31px;
	padding-bottom: 2px;
	line-height: 31px;
	padding-left: 0px;
	color: #fff;
	text-shadow:#000 1px 1px 0px;
	text-align: center;
}



#aside div.banners ul {
	margin-top: 8px;
}
#aside div.banners li {
	display: block;
	margin-bottom: 8px;
}
#aside div.banners li a {
	display: block;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#aside div.banners li a:link,
#aside div.banners li a:visited {
    border: 5px solid #FFF6E5;
	}
#aside div.banners li a:hover,
#aside div.banners li a:active {
    border: 5px solid #B49247;
	}



#twtr-widget-1 h3 {
	font-size:16px;
	font-weight: bold;
	display: block;
	color:#9F7932;
	background-image: url(../images/aside_h2.gif) !important;
	height: 38px !important;
	padding-bottom: 20px !important;
	line-height: 38px !important;
	padding-left: 15px !important;
	color: #FFF6E5 !important;
	text-shadow:#966 1px 1px 0px;
	padding-top: 2px !important;
}


.twtr-doc,#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a,  #twtr-widget-1 h4, #twtr-widget-1 .twtr-popular,.twtr-widget .twtr-tweet,#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p,#twtr-widget-1 .twtr-new-results,#twtr-widget-1 .twtr-results-inner,#twtr-widget-1 .twtr-timeline {
	background-image:url(../images/main_aside.gif) !important;
}
.twtr-widget .twtr-tweet-wrap {
padding:6px 0px !important;
}
.twtr-hd {
padding:10px 0px !important;
}
#twtr-widget-1 h4 {
	display:none !important;
}
#twtr-widget-1 h3 {
	font-size:16px !important;
	font-weight: bold !important;
	display: block;
	color: #FFF6E5 !important;
}
.twtr-img {
	height:30px !important;
	width:30px !important;
	background-color: #FFF !important;
	padding: 3px !important;
}
#twtr-widget-1 .twtr-tweet-text {
margin-left:45px !important;
}

#footer {
	clear:both;
	background-color: #1E1B16;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../images/footer.gif);
	background-repeat: repeat-x;
	background-position: left top;
	color: #1eff00;
	}
#footer a {
	font-weight: bold;
	text-decoration: none;
	}
#footer a:link,
#footer a:visited {
	color: #1eff00;
	}
#footer a:hover,
#footer a:active {
	color: #ff5252;
	}
#footer .poweredby {
	color:#666;
	text-align: right;
	display: block;
	text-shadow:#000 1px 1px 0px;
}
#footer .poweredby a {
	color:#666}



.bread_crumbs li {
	display:inline;
	}
.bread_crumbs li a {
	display:inline;
	text-decoration: none;
	}
.bread_crumbs li a:after {
	content: "\0020\0020\00bb\0020\0020";
	}
#aside .new_entries.section li {
	display: block;
	background-image: url(../images/line.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
}
#aside .new_entries.section li a {
	display: block;
	text-decoration: none;
	text-shadow:#f2e2c3 1px 1px 0px;
}
#aside .new_entries.section li a:link,
#aside .new_entries.section li a:visited
 {
	color:#49320b;
}
#aside .new_entries.section .title {
	display: block;
	float: left;
	width: 300px;
	font-size: 13px;
	line-height: 1.4;
	font-weight: bold;
}
#aside .new_entries.section a:link .title,
#aside .new_entries.section a:visited .title {
	color:#49320b;
	text-shadow:#f2e2c3 1px 1px 0px;
}
#aside .new_entries.section a:hover .title,
#aside .new_entries.section a:active .title {
	color:#F36;
	text-shadow:none;
}
#aside .new_entries.section a .date {
	color:#49320b;
	text-shadow:#f2e2c3 1px 1px 0px;
}
#aside .new_entries.section .auther {
	display: block;
	float: right;
	width: 50px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0em;
}
#aside .new_entries.section .auther img {
	width: 35px;
	height: 35px;
}
#aside .new_entries.section .date {
	display: block;
	font-size: 12px;
	padding-top:5px;
	font-weight: normal;
}



#disqus_thread {
	padding-top: 20px;
}




.works #main {
	width: 970px;
	float: none;
}
.works #main .section .header_page {
	background-image: none;
	padding-bottom: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.works #main .section .header_page .title {
	display: block;
	font-size: 26px;
	line-height: 1.3;
	color: #1eff00;
	font-weight: bold;
	text-shadow:#000 1px 1px 0px;
	float: left;
	width: 600px;
}
.works #main .section .header_page .title a
 {
	color: #302D24;
	text-decoration: none;
	text-shadow:#f6e4bf -1px -1px 1px;
}
.works #main .section .header .title a:link,
.works #main .section .header .title a:visited
 {
	color: #1eff00;
	text-decoration: none;
}
.works #main .section .header .title a:hover,
.works #main .section .header .title a:active
 {
	color: #ff5297;
}

.works #main .section .header_page .author {
	padding-top: 5px;
	padding-bottom: 10px;
	height:20px;
	color: #302D24;
	display: block;
	text-align: left;
	float: right;
}
.works #main .section .header_page .author dt:after {
	height:20px;
	content:"\0020\003a";
}
.works #main .section .header_page .author dt,
.works #main .section .header_page .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
}
.works #main .section .header_page .author img {
	height: 12px;
	width: 12px;
}

.works #main .section .body {
	background-image: none;
	clear: both;
	color: #302D24;
	font-size: 14px;
}
.works #main .section .body .author {
	background-image: none;
	height:20px;
	padding: 0px;
	clear: both;
}
.works #main .section .body .author dt:after {
	height:20px;
	content:"\0020\003a";
}
.works #main .section .body .author dt,
.works #main .section .body .author dd {
	display: inline;
	font-size: 12px;
	line-height: 20px;
	text-shadow:none;	
}
.works #main .section .body .author img {
	height: 12px;
	width: 12px;
}
.works #main .section .body .content {
	background-image: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	background-position: left top;
	margin-right: -10px;
	margin-left: -10px;
}
.works #main .section .footer {
	background-image: none;
	color: #E9D2A3;
	font-size: 14px;
	background-position: left bottom;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
}
.works #main .work {
	width:310px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	}
.works #main li.work {
	width:310px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	display: block;
	}
.works #main .section .body .content h3 {
	margin-bottom:5px;
}
.works #main .section .body .content h3 a:link img,
.works #main .section .body .content h3 a:visited img {
	border: 5px solid #FFF6E5;
}
.works #main .section .body .content h3 a:hover img,
.works #main .section .body .content h3 a:active img {
	border: 5px solid #b49247;
}
.works #main .section .body .content p.name {
	display: block;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 16px;
}
.works #main .section .body .content p.name span.created {
	font-size: 12px;
	margin-left: 1em;
}
.works #main .section .body .content p.name a {
	text-decoration: none;
}
.works #main .section .body .content p.name a:link,
.works #main .section .body .content p.name a:visited {
	color: #302D24;
}
.works #main .section .body .content p.name a:hover,
.works #main .section .body .content p.name a:active {
	color: #ff5297;
}
.works #main .section .body .content dl.author {
	font-size: 12px;
}
.works #main .section .body .content dl.author dt,
.works #main .section .body .content dl.author dd {
	display: inline;
}

#fb-root {
	display:none !important;
	}
	
	
	
/*
zenback default style
----------------------------------------------------------------------*/
.zenback {
    font-size:13px;
    padding:12px 0;
    line-height:18px;
}
.zenback .zenback-module{
    clear:both;
    padding-bottom:12px;
}
.zenback .zenback-heading{
    font-size:14px;
    margin:0 0 0 10px;
    padding-left:23px;
    float:left;
    display:inline;
}
.zenback .zenback-entries .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/icon-article.png') }}) 0 center no-repeat #7fc527;
}
.zenback .zenback-links .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/icon-link.png') }}) 0 center no-repeat #b0c906;
}
.zenback .zenback-mixi .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/mixi_icon.png') }}) 4px center no-repeat #f5b868;
}

.zenback .zenback-evernote .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/evernote_icon.png') }}) 4px center no-repeat #7fc527;
}

/*
.zenback .zenback-facebook .zenback-heading {
background:url(http://{{ ctx.req.host }}{{ static_url('images/facebook_icon.png') }}) 4px center no-repeat #3B5998;
}
*/

.zenback .zenback-referrer .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/icon-referrer.png') }}) 0 center no-repeat #d3be5d;
}
.zenback .zenback-entries ul {
    border-top:1px solid !important;
    border-top-color:#000 !important;
    padding-top:7px !important;
}
.zenback .zenback-links ul {
    border-top:1px solid !important;
    border-top-color:#000 !important;
    padding-top:7px !important;
}
.zenback .zenback-referrer ul {
    border-top:1px solid !important;
    border-top-color:#000 !important;
    padding-top:7px !important;
}
.zenback img {
    border:none !important;
}
.zenback .zenback-pending{
  background:#000 !important;
  text-align:center !important;
  margin:0 0 10px 0 !important;
  color:#555 !important;
  padding:5px 0 !important;
  clear:both !important;
  border-top:1px solid !important;
    border-top-color:#000 !important;
}
.zenback .zenback-heading span {/* tab */
    color:#ffffff !important;
    padding:0 5px 0 27px !important;
    padding:0 5px !important;
    line-height:170% !important;
    font-weight:bold !important;
    vertical-align:middle !important;
    display:block !important;
    float:left !important;
    border-left:1px solid #fff !important;
}
.zenback .zenback-entries .zenback-heading span{
    background:#000 !important;
}
.zenback .zenback-links .zenback-heading span{
    background:#000 !important;
}
.zenback .zenback-mixi .zenback-heading span{
    background:#000 !important;
}
.zenback .zenback-evernote .zenback-heading span{
    background:#000 !important;
}

/*
.zenback .zenback-facebook .zenback-heading span{
    background:#3B5998 !important;
}
*/

.zenback .zenback-referrer .zenback-heading span{
    background:#d3be5d !important;
}
.zenback .zenback-module ul {
    padding:5px 10px 0 10px !important;
    margin:0 0 10px 0 !important;
    clear:both !important;
    word-wrap:break-word !important;
    zoom:1 !important;
}
.zenback li {
    list-style:none !important;
    /*display:block !important;*/
    text-align:left !important;
    float:none !important;
}
.zenback ul.zenback-list{
    zoom:1;
    margin:0 !important !important;
}
.zenback ul.zenback-list li {/* icon list */
    padding-left:24px !important;
    margin-bottom:5px !important;
    background:transparent url(http://{{ ctx.req.host }}{{ static_url('images/icon-listmark.gif') }}) no-repeat 0 3px !important;
}

.zenback .zenback-links ul.zenback-list li {
    background:transparent url(http://{{ ctx.req.host }}{{ static_url('images/icon-listmark-link.gif') }}) no-repeat 0 3px !important;
}
.zenback .zenback-referrer ul.zenback-list li {
    background: none !important;
    padding-left:0 !important;
}
.zenback .zenback-referrer ul.zenback-list li img{
    margin:0 3px 0 0!important;
}
.zenback li img {
    margin-right:3px !important;
    vertical-align:middle !important;
}
/* more read */
.zenback .zenback-morereadbtn{
    text-align:center !important;
    border:1px solid #000 !important;
}
.zenback .zenback-morereadbtn a{
    display:block !important;
    padding:3px 0 !important;
}
.zenback .zenback-morereadbtn a:hover{
}

.zenback-itemdate {
  font-size:11px;
  color:#999;
}

/* powerd by */
.zenback .zenback-powered {
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#7fc527;
    padding:0;
    text-align:right;
    zoom:1;
    display:block !important; 
    height:auto !important; 
    visibility:visible !important; 
}
.zenback .zenback-powered:after {
    content:".";
    display:block;
    visibility:hidden;
    height:0.1px;
    font-size:0.1em;
    line-height:0;
    clear:both;
}
.zenback .zenback-powered span {
    background-color:#7fc527 !important;
    color:#ffffff !important;
    padding:0.3em 0.4em !important;
    font-weight:bold !important;
    display:block !important;
    float:right !important;
}
.zenback .zenback-powered span img {
    vertical-align:middle !important;
}


.zenback-hatebu,.zenback-twitter{
}
/* Twitter hatebu common */
.zenback .zenback-hatebu .zenback-social .zenback-heading,.zenback .zenback-twitter .zenback-heading{
}
.zenback .zenback-heading a{
    background:none !important;
    text-decoration:none !important;
}
.zenback .zenback-hatebubtn, .zenback .zenback-twitterbtn, .zenback .zenback-mixibtn, .zenback .zenback-evernotebtn, .zenback .zenback-facebookbtn {
    clear:both;
    padding:5px 0 !important;
    margin:0 0 5px 0!important;
    background:transparent url(http://{{ ctx.req.host }}{{ static_url('images/line-dashed.gif') }}) 0 bottom repeat-x;
    text-align:center;
}

.zenback .zenback-hatebubtn a,
.zenback .zenback-heading a,
.zenback .zenback-twitterbtn a,
.zenback .zenback-mixibtn a,
.zenback .zenback-facebookbtn a {
    text-decoration:none;
}

.zenback .zenback-hatebubtn img,.zenback .zenback-twitterbtn img{
  vertical-align:bottom !important;
}
.zenback .zenback-headingwrap{
    display:inline;
}
/* Twitter */
.zenback .zenback-twitter .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/icon-twitter.gif') }}) 3px center no-repeat #000;
}
.zenback .zenback-twitter .zenback-heading span {
    background-color:#000;
}
.zenback .zenback-twitter .zenback-heading span em{
    font-weight:normal !important;
    font-style:normal !important;
    font-size:86% !important;
    text-align:right !important;
    margin:0 !important;
    padding:0 !important;
    text-decoration:none !important;
}
.zenback .zenback-twitterbtn{
    border-top:1px solid #000 !important;
}
.zenback .zenback-twitter-name {
    margin-right:5px;
}
.zenback .zenback-twitter-status {
    clear: both;
} 
.zenback-twitter ul.zenback-list li {
    margin-bottom:5px !important;
    background:none !important;
    padding-left:0 !important;
}
/* Twitter design */
.zenback .zenback-twitter ul{
    border-top:1px solid #000 !important;
    padding-top:5px !important;
    color:#fff !important;
}
.zenback-twitter ul.zenback-nodesign li {
    min-height:48px !important;
    margin-bottom:10px !important;
    padding-bottom:7px !important;
    border-bottom:1px solid #000 !important;
    padding:0 0 5px 0 !important;
    text-indent:0 !important;
}
* html .zenback-twitter ul.zenback-nodesign li {
    height:48px !important;
}
.zenback-twitter ul.zenback-nodesign li img {
    float:left !important;
    margin:0 5px 5px 0 !important;
}

.zenback-twitter ul.zenback-nodesign li a {
    text-decoration:underline !important;
    font-weight:normal !important;
    background:none !important;
    font-style:normal !important;
    color:#0000FF !important;
}
.zenback-twitter ul.zenback-nodesign li a:hover {
    text-decoration:none !important;
    background:none !important;
    font-weight:normal !important;
    background:none !important;
    font-style:normal !important;
}
.zenback-twitter ul.zenback-nodesign li .zenback-itemdate a{
    font-size:11px !important;
    color:#999 !important;
    text-decoration:none !important;
    font-weight:normal !important;
    font-style:normal !important;
    background:none !important;
    padding:0 !important;
}
.zenback-twitter ul.zenback-nodesign li .zenback-itemdate a:hover {
    text-decoration:underline !important;
    color:#999 !important;
    font-weight:normal !important;
    font-style:normal !important;
    background:none !important;
}
/* hatebu */
.zenback .zenback-hatebu .zenback-heading {
    background:url(http://{{ ctx.req.host }}{{ static_url('images/icon-hatebu.gif') }}) 3px center no-repeat #5279e7;
}
.zenback .zenback-hatebu .zenback-heading span {
	background-color:#000 !important;
}
.zenback .zenback-hatebu .zenback-heading span em{
    font-weight:normal !important;
    font-style:normal !important;
    font-size:86% !important;
    text-align:right !important;
    margin:0 !important;
    padding:0 !important;
    text-decoration:none !important;
}
.zenback .zenback-hatebubtn{
    border-top:1px solid #5279e7 !important;
}
.zenback .zenback-hatebu ul {
    /*border-top:1px solid #5279e7 !important;*/
    padding-top:5px !important;
    color:#000 !important;
}
.zenback .zenback-hatebu ul li{
    margin-bottom:5px !important;
}
/* hatebu design */
.zenback-hatebu ul.zenback-nodesign {
    background:#edf1fd !important;
    margin:0 0 5px 0!important;
    padding:5px 10px 5px 10px !important;
}
.zenback-hatebu ul.zenback-nodesign li {
    font-size:85% !important;
    margin-bottom:2px !important;
    background:none !important;
    padding-left:0 !important;
}
.zenback-hatebu ul.zenback-nodesign li img {
    vertical-align:middle !important;
    margin:0 !important;
}
.zenback-hatebu ul.zenback-nodesign .zenback-hatebu-date {
    margin-right:3px;
}
.zenback-hatebu ul.zenback-nodesign .zenback-hatebu-name {
    margin-right:3px;
}
.zenback-hatebu ul.zenback-nodesign .zenback-hatebu-tag {
    font-size:80%;
    margin-right:3px;
}
.zenback-hatebu ul.zenback-nodesign a {
    text-decoration:underline !important;
    font-weight:normal !important;
    background:none !important;
    font-style:normal !important;
    color:#0000FF !important;
}
.zenback-hatebu ul.zenback-nodesign a:hover {
    text-decoration:none !important;
    background:none !important;
    font-weight:normal !important;
    background:none !important;
    font-style:normal !important;
}


/* socialbar */
.zenback .zenback-socialbar .zenback-heading {
    background:url(images/icon-social.gif) 3px center no-repeat #5279e7;
}
.zenback .zenback-socialbar .zenback-heading span {
    background-color:#5279e7;
}
.zenback .zenback-socialbar .zenback-socialbtn div {
    float:left !important;
    height:30px !important;
}
.zenback .zenback-socialbar .zenback-socialbtn:after {
    content:".";
    display:block;
    visibility:hidden;
    height:0.1px;
    font-size:0.1em;
    line-height:0;
    clear:both;
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-twitter {
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-twitter iframe {
    float:left !important;
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-twitter-count {
    list-style-type:none !important;
    background:none !important;
    position:relative !important;
    float:left !important;
    padding:0 5px 0 0 !important;
    margin:0 !important;
}
.zenback .zenback-socialbar .zenback-socialbtn div span.zenback-socialbar-twitter-count-element {
    float:left !important;
    background-image: url(http://platform0.twitter.com/widgets/images/tweet_ja.png) !important;
    background-position:0 -145px !important;
    height:20px !important;
    padding:0 0 0 8px !important;
    margin:0 0 0 3px !important;
    position:relative !important;
}

.zenback .zenback-socialbar .zenback-socialbtn div span.zenback-socialbar-twitter-count-element button {
    background: transparent url(http://platform0.twitter.com/widgets/images/tweet.png) no-repeat !important;
    background-position:right -145px !important;
    height:20px !important;
    min-width:26px !important;
    width:50px !important;
    padding:0 4px 0 0 !important;
    margin:0 -1px 0 0 !important;
    position:relative !important;
    display:block !important;
    font:bold 12px Arial,Helvetica,sans-serif !important;
    color:#2A7090 !important;
    overflow:visible !important;
    border:none !important;
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-hatebu {
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-mixicheck {
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-evernote {
}
.zenback .zenback-socialbar .zenback-socialbtn div.zenback-socialbar-facebook {
}


/* socialbar design */
.zenback-socialbar div.zenback-nodesign {
    margin:0px !important;
    padding-top:0px !important;
    padding-right:0px !important;
    padding-bottom:0px !important; 
    padding-left:10px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-twitter {
    margin:0px !important;
    paddint-top:0px !important;
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    vertical-align:middle !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-twitter iframe {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-twitter span {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-hatebu {
    margin:0px !important;
    padding-top:0px !important; 
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    vertical-align:middle !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-hatebu iframe {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-mixicheck {
    margin:0px !important;
    padding-top:0px !important;
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    vertical-align:middle !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-mixicheck a {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-mixicheck img {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-evernote {
    margin:0px !important;
    padding-top:0px !important;
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    vertical-align:middle !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-evernote a {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-evernote img {
    margin:0px !important;
    padding:0px !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-facebook {
    margin:0px !important;
    padding-top:0px !important;
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    vertical-align:middle !important;
}
.zenback-socialbar div.zenback.nodesign, div.zenback-socialbar-facebook iframe {
    margin:0px !important;
    padding:0px !important;
}


/*
zenback-news
----------------------------------------------------------------------*/
.zenback #zenback-news{
    border:3px solid #80c527;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    margin-bottom:12px;
    position:relative;
    margin-top:20px;
}
.zenback #zenback-news .newstitle{
    position:absolute;
    top:-24px;
    left:-3px;
}
* html .zenback #zenback-news .newstitle{
    top:-21px
}
*+html .zenback #zenback-news .newstitle{
    top:-21px;
}
.zenback #zenback-news .zenback-newslist{
    padding:5px 10px;
    margin:0;
}
.zenback #zenback-news .zenback-newslist .zenback-newsitem{
    padding:0;
    margin:5px 0;
}
.zenback #zenback-news .zenback-newslist .zenback-newsdate{
    padding:3px 10px 3px 0;
}
.zenback #zenback-news .zenback-newslist .zenback-newsdate img{
    vertical-align:middle;
}
/*
zenback customize style
----------------------------------------------------------------------*/
/* module background color */
.zenback {
}
/* title color */
.zenback .zenback-heading span, .zenback .zenback-powered span {
    color:#ffffff;
}
/* title background color */
.zenback .zenback-heading {
    border-bottom-color:#7fc527;
}
.zenback .zenback-entries .zenback-heading span,
.zenback .zenback-entries .zenback-heading {
	background-color:#000 !important;
}
.zenback .zenback-entries ul {
    border-top-color:#7fc527;
}
.zenback .zenback-links .zenback-heading span,
.zenback .zenback-links .zenback-heading {
	background-color:#000 !important;
}
.zenback .zenback-links ul {
	background-color:#000 !important;
}
.zenback .zenback-referrer .zenback-heading span,
.zenback .zenback-referrer .zenback-heading {
	background-color:#000 !important;
}
.zenback .zenback-referrer ul {
	border-top-color:#000 !important;
}
.zenback .zenback-powered {
	border-top-color:#000 !important;
}
.zenback .zenback-heading span, .zenback .zenback-powered span {
	background-color:#000 !important;
}
