<div class="ad">
<h2>クリック注意！これは広告です。</h2>
<p><a href="http://hamcutlet.fjord.jp/" target="_blank"><img src="/theme/kuroigamen/images/ad_01.gif" width="350" height="215" alt="ハムかつでHTMLのインデントを綺麗に" /></a></p>
</div>
