/*
Name: kuroigamen
Description: 黒い画面のためのテーマ
URL: http://lokka.org/
Author: Teppei Machida <machidanohimitsu@gmail.com>
Author URL: http://machida.fjord.jp/
Version: 0.0.1
*/

@import "stylesheets/style.css";
